body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  margin: 0 auto;
  max-width: 560px;
  padding:5px 10px;
  height: auto;
}
.phone-cont h2{
text-align: center;
font-size: 2.5rem;
color: #427a4d;
}
.phone-cont h3{
  color:#0d285a;
  font-size: 1.5rem;
}
input{
  border: 0.2px solid #0d285a;
  border-radius: 6px;
  margin: 10px auto;
  padding: 10px;
  width: 95%;
  font-size: 1rem;
  color: #0d285a;
}
input:focus{
  outline: none;
}
label{
  display: inline-block;
  color:#71b27e;
  width: 30%;
  padding: 5px;
  font-size: larger;
  font-weight: 500;
}

.contact-disp{
  margin: 10px auto;
}
.contact-disp h2{
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}
.contact-disp .list{
  padding: 10px 5px;
  margin: 10px auto;
}
.contact-disp .list-item{
  display: block;
  list-style-type: none;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #b5cfdf;
  color: #0d285a;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 7px;
}
.btn-group{
  display: flex;
  width: 100%;
}
.btn {
  border:none;
  background-color: #ee6b4a;
  color: #fff;
  padding: 10px 5px;
  width: 45%;
  margin: 10px auto;
  border-radius: 10px;
  cursor: pointer;
}
.search-cont{
  color:#0d285a;
  font-size: 1rem;
  font-weight: 500;
}

.btn-small{
  border:none;
  background-color: #ee6b4a;
  color: #fff;
  padding: 2px 5px;
  width: 105px;
  margin: 20px 10px;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
}
